.table {
  background-image: url(https://wizardofodds.com/play/blackjack-v2/table.png);
  background-size: cover;
  overflow: hidden;
  width: 90%;
  height: 35em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;

}
