<link href='https://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:300,100' rel='stylesheet' type='text/css'>

.players {
  width: 200%;
}

.one {
 margin-top: 0;
 position: absolute;
 display: inline-block;
 margin-left: 8%;
 font-size: 40px;
 font-style: italic;
 color: yellow;
 text-decoration: underline;

}

p {
  color: yellow;
  text-decoration: underline;
  margin-top: 0;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
}

.two {
  margin-top: 0;
  position: absolute;
  display: inline-block;
  margin-left: 70%;
  color: 	yellow;
  font-size: 40px;
  font-style: italic;
  text-decoration: underline;
}

.start {
  align-self: center;
  margin-top: 20%;
}

.startbutton {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 180px;
  width: 220px;
  font-size: 60px;
  border-radius: 20px;

  }

.player1 {
  margin-left: 10%;
  margin-top: -15%;
}

.player2 {
    margin-left: 79%;
    margin-top: -4%;
    margin-bottom: 0;
}

.hit {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  font-size: 20px;
  margin-left: 2%;
  margin-bottom: 0;
}

.stick {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 75px;
  font-size: 20px;
}



div.cardsplayer0 {
  display: flex;
  flex-direction: row;
  transform: rotate(20deg);
  margin-left: 10%;
  margin-top: 10%;
  /*margin-bottom: -450px;*/
  width: 17.5em;
  height: 13em;
  border-width: 1px;
  border-color: #7da37d;
}

div.cardsplayer1 {
  display: flex;
  flex-direction: row;
  transform: rotate(-20deg);
  margin-top: -18%;
  margin-left: 67%;
  width: 17.5em;
  height: 13em;
  border-width: 1px;
  border-color: #7da37d;
}

li {
  list-style-type: none;
}

div img {
  width: 100%;
  min-height: 100%;
}
