<link href='https://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:300,100' rel='stylesheet' type='text/css'>

h1.one{
    text-align: left;
}

h1.two{
    text-align: right;
}

.startbutton {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 120px;
  width: 220px;
  font-size: 60px;
  margin-left: 250px;}

.player2{
    margin-left: 1360px;
}
.hit {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.stick {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 50px;
  width: 75px;
  font-size: 20px;
}



div.cardsplayer0 {
  display: flex;
  flex-direction: row;
  transform: rotate(20deg);
  position: relative;
  overflow: hidden;
  left: 300px;
  bottom: -150px;
  /*margin-bottom: -450px;*/
  width: 17.5em;
  height: 13em;
  border-width: 1px;
  border-color: #7da37d;
}

div.cardsplayer1 {
  display: flex;
  flex-direction: row;
  transform: rotate(-20deg);
  position: relative;
  overflow: hidden;
  left: 1000px;
  bottom: 60px;
  width: 17.5em;
  height: 13em;
  border-width: 1px;
  border-color: #7da37d;
}

li {
  list-style-type: none;
}

div img {
  width: 100%;
  min-height: 100%;
}
